<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412825254443-l6c0f33euv29mvr2rsbmf785f8rs1f6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412825254443-l6c0f33euv29mvr2rsbmf785f8rs1f6l</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WcNKpa4xMweJgwDKhPVjUkrWGjhfTJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>412825254443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zorer.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bf76d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bf76d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412825254443:ios:8cf88f814a2c7a71f5486e</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bf76d.firebaseio.com</string>
</dict>
</plist>